@import "../../styles/colors.scss";

.skillIcon {
    display: block;
    text-align: center;
    width: 56px;
    height: 56px;
    margin: 5px;
    border: 1px solid $color-primary;
    border-radius: 2px;
    border-top: 1px solid #f5f5f5;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    text-shadow: 0px 1px 0px #f5f5f5;

    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;

    &.secondary {
        background-size: 48px;
        background-position-y: 2px;
        
        border-color: $color-secondary;
        border-bottom-width: 2px;
        border-top-color: #f5f5f5;
    }
}