$startingPointY: 137px;
$startingPointX: -50px;
$startingPointRotateX: 50deg;
$offScreenPointY: -100px;

@keyframes shiftleft{
    0% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate($startingPointX, $startingPointY);
    }

    100% {
        transform: rotateX($startingPointRotateX) rotateZ(-41deg) translate($startingPointX, $startingPointY)
    }
}

@keyframes offscreenLeft{
    0% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 0px);
    }

    33% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 15px);
    }

    66% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 15px);
    }

    100% {
        transform: rotateX($startingPointRotateX) rotateZ(-51deg) translate3d(700px, #{$startingPointY + 45}, 15px)
    }
}

@keyframes offscreenBottom{
    0% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 0px);
    }

    33% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 15px);
    }

    66% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 15px);
    }

    100% {
        transform: rotateX($startingPointRotateX) rotateZ(-51deg) translate3d(700px, #{$startingPointY + 45}, 15px)
    }
}

@keyframes slideIn {
    0% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $offScreenPointY, 0px);
    }

    100% {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 0px);
    }
}

@keyframes shadowLift{
    0% {
        transform: translateZ(-17px);
        box-shadow: #000 0 0 10px 15px;
    }

    66% {
        transform: translateZ(-40px); 
        box-shadow: #000 0 0 40px 20px;
    }

    100% {
        transform: translateZ(-17px);
        box-shadow: #000 0 0 10px 15px;
    }
}
$animation-timing: 1300ms;

@keyframes rotateIn {
    0% {
        transform: rotateX(50deg) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 0px);
    }

    100% {
        transform: rotateX(50deg) rotateZ(-56deg) translate3d($startingPointX, 124px, -20px);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotateX(50deg) rotateZ(-56deg) translate3d($startingPointX, 124px, -20px);
    }
    100% {
        transform: rotateX(50deg) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 0px);
    }
}

#phone-graphic .iphone{
    &.HIDDEN {
        animation: offscreenLeft $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
        //transition: transform 600ms cubic-bezier(0.76, 0, 0.24, 1);
        //transition-delay: 400ms;
        //transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d(1700px, 137px, 0);
        //animation-delay: 400ms;

        .shadow {
            animation: shadowLift $animation-timing forwards;
            //animation-delay: 400ms;
        }
    }

    &.interactive:not(.present):hover {
        transform: rotateX($startingPointRotateX) rotateZ(-46deg) translate3d($startingPointX, $startingPointY, 15px);

        .shadow {
            transition: all 300ms ease-in-out;
            transform: translateZ(-40px); 
            box-shadow: #000 0 0 40px 20px;
        }
    }

    &.slideIn {
        animation: slideIn $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    &.rotateIn {
        animation: rotateIn $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    &.rotateOut {
        animation: rotateOut $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
}