@import "../../styles/colors.scss";

.primary {
    background: $color-primary;
    border: $color-primary 2px solid;
    transition: 100ms all;

    &:hover {
        border-color: black;
    }
}

.secondary {
    background: $color-secondary;
    border: $color-secondary 2px solid;
    color: white;

    &:hover {
        border-color: black;
    }
}

.tertiary {
    background: $color-darkblue;
    border: $color-darkblue 2px solid;
    color: white;

    &:hover {
        border-color: black;
    }
}

.disabled {
    background: #ccc;
    border: #CCC 2px solid;
    color: $color-grey;
    cursor: not-allowed;

    &:hover {
        border-color: #CCC;
    }
}