@import '../../src/styles/colors.scss';

.blogpost {

    .blur {
        img {
            -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
            filter: blur(5px);
        }
    }

    a {
        color: $color-secondary;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 600;
    }

    h2 {
        padding-top: 6rem;
        font-size: 1.875rem;
        line-height: 2.25rem;

        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 3px;
            background-color: $color-secondary;
            margin: 12px 0 0 0;
        }
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
    }

    h1,h2,h3,h4 {
        margin-bottom: 2rem;
        padding-top: 4rem;
    }
}

