@import './ipad-animation.scss';

$h-ratio: 1.535;
$w-ratio: 2.048;

#ipad-graphic {
    /* Presentation animation */
    .device {

        // keyframe1
        &.keyframe1 {
            transform: rotateX(50deg) rotateZ(-41deg) translate3D(670px, 0, 0px);
        }

        // Full presentation mode
        &.present {
            z-index: 50;
            transform: rotateX(0deg);

            .side{
                background: #CDD0D5;
                border-radius: 49px;
                position: absolute;
                top: 5px;
                width: 759px;
                left: -9px;
                box-shadow: inset #3D3E42 0 0 15px 9px, inset #FFF 0 0 20px;
            }

            .toggler {
                left: -17px;
            }
            
            .volume {
                left: -15px;
            }

            .lightning {
                top: 762px;
                left: 166px;
            }
            .shadow {
                box-shadow: #000 0 0 15px 13px;
                top: 23px;
                left: -15px;
            }

            .front {
                background-image: linear-gradient(-3deg, #FFF, #FFF 10%, #FFF 42%, #EEE, #FFF 57%, #FFF 91%, #DDD);
                border-bottom-right-radius: 36px;
            }
        }

        &:not(.present):hover{
            //transform: rotateX(49deg) rotateZ(-51deg);
        }
    }

    &.wrapper {
        height: 120%;
        position: relative;
        perspective: 0px;
        transition: cubic-bezier(0.23, 1, 0.320, 1) .3s all;
        z-index: 1;
        overflow: hidden;
    }

    //Safari 13 error fix
    @media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) and (display:flow-root) { 
        .device { transform-style: initial!important; } } 
    }

    .device {
        top: 0;
        left: 0;
        height: 760px * $h-ratio;
        width: 372px * $w-ratio;;
        border-radius: 50px;
        position: absolute;
        background: none; 
        box-shadow: none;
        transform: rotateX(50deg) rotateZ(-46deg) translate3D(670px, 0, 0px);
        transform-style: preserve-3d;
        transition: cubic-bezier(0.23, 1, 0.320, 1) .3s all;

        @media (min-width: 1024px) {
            //right: 40%;
        }
    }

    .side {
        background: #CDD0D5;
        width: 765px;
        height: 1179px;
        border-top-left-radius: 77px;
        border-bottom-left-radius: 49px;
        border-bottom-right-radius: 86px;
        border-top-right-radius: 70px;
        position: absolute;
        top: 5px;
        left: -22px;
        box-shadow: inset #3D3E42 0 0 15px 9px, inset #FFF 0 0 20px;
    }
    .front {
        width: 737px;
        height: 750px * $h-ratio;
        border-radius: 49px;
        position: absolute;
        /*background-image: -webkit-linear-gradient(-27deg,#444,#000 10%, #000 42%, #333, #000 57%, #000 91%, #444);*/
        background-image: -webkit-linear-gradient(-3deg,#FFF,#FFF 10%, #FFF 42%, #EEE, #FFF 57%, #FFF 91%, #DDD);
        left: 5px;
        top: 8px;
        /*box-shadow: inset #000 0 0 0 4px, #555 0px 0 3px 0px, #222 -3px 2px, #000 -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;*/
        box-shadow: inset rgba(255,255,255, .8) 0 0 0 4px, #FFF 0px 0 3px 0px, #EEEEEE -3px 2px, #EEE -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;
        transform: translateZ(1px);
    }
    .frontCover {
        width: 728px;
        height: 1137px;
        background: #FFF;
        border-radius: 39px;
        position: absolute;
        top: 6px;
        left: 7px;
    }
    
    $home-diameter: 52px;
    .home {
        position: absolute;
        width: $home-diameter;
        height: $home-diameter;
        border-radius: 50%;
        background: linear-gradient(32deg,#666,#FFF,#666);
        bottom: 25px;
        left: calc(50% - #{$home-diameter/2});
    }
    .home div {
        background: #FDFDFD;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        position: absolute;
        left: 3px;
        top: 3px;
    }
    
    .camera {
        width: 11px;
        height: 11px;
        background: #000;
        position: absolute;
        top: 35px;
        left: calc(50% - 5.5px);
        border-radius: 50%;
        box-shadow: inset #666 -5px 2px 9px -2px;
    }
    .camera div {
        width: 6px;
        height: 6px;
        background: radial-gradient(#E1E4F5,#0D2B69 33%);
        background-position: -1px -1px;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
    }
    
    .speaker {
        width: 50px;
        height: 4px;
        border-radius: 2px;
        background: #555;
        position: absolute;
        top: 39px;
        left: calc(50% - 25px);
        box-shadow: inset #222 0 0px 4px;
    }
    
    .volume {
        height: 128px;
        width: 11px;
        border-radius: 10px;
        position: absolute;
        background: #F9F9FA;
        top: 100px;
        left: -20px;
        transform: rotateY(95deg);
        transform-style: preserve-3d;
        box-shadow: inset #292A2F 4px 0 8px 1px, #D5D5D5 -1px 0px 2px;
    }
    .volume div {
        width: 8px;
        height: 55px;
        background: #BBBCC0;
        border-radius: 10px;
        position: absolute;
        box-shadow: #eee -1px 1px, #777 -1px 3px,.505057 -3px 3px, inset #909197 -3px 0 3px;
    }
    
    .volume div:first-child {
        top: 2px;
        left: 4px;
    }
    .volume div:last-child {
        top: 69px;
        left: 4px;
    }
    
    .toggler {
        height: 34px;
        width: 8px;
        border-radius: 10px;
        position: absolute;
        background: #2B2C31;
        top: 105px;
        left: -20px;
        transform: rotateY(95deg);
        transform-style: preserve-3d;
        box-shadow: inset #292A2F 4px 0 8px 1px, #D5D5D5 -1px 0px 2px;
    }
    .toggler div {
        width: 4px;
        height: 31px;
        background: #BBBCC0;
        border-radius: 10px;
        position: absolute;
        box-shadow: #eee -1px 1px, #777 -2px 3px, #505057 -3px 3px, inset #909197 -3px 0 3px;
        top: -1px;
        left: 3px;
    }
    
    .aux {
        width: 19px;
        height: 19px;
        background: #3B3B3B;
        border-radius: 50%;
        transform: rotateX(90deg) translateZ(1px);
        transform-style: preserve-3d;
        position: absolute;
        top: 766px;
        left: 45px;
        box-shadow: inset #000 6px -3px 10px 1px, #C7C7C7 1px 0px 1px;
    }
    
    $bottom-position: -18px;
    .lightning {
        width: 48px;
        height: 12px;
        border-radius: 10px;
        background: #3F3F3F;
        transform: rotateX(90deg) translate3d(0px,1px,0px);
        bottom: $bottom-position;
        position: absolute;
        left: calc(50% - 37px);
        box-shadow: inset #8E8F94 -1px 1px 0px 2px, #515258 0px 0px 0 1px, inset #000 0 -3px 10px, #DADADA 1px 0 0 1px;
    }
    
    .bottomspeaker {
        position: absolute;
        transform: rotateX(90deg);
        bottom: $bottom-position;
        left: 128px;
        display: flex;

        &.mod-right {
            left: calc(50% + 108px);
        }
    }
    .bottomspeaker div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #6C6D72;
        box-shadow: inset #000 1px -1px 4px 1px, #DADADA 1px 0px;
        margin-right: 4px;
    }
    
    .screws {
        position: absolute;
        top: 780px;
        left: 120px;
        transform: rotateX(90deg);
    }
    .screws div {
        position: absolute;
        width: 8px;
        height: 8px;
        background: rgb(95, 92, 92);
        border-radius: 50%;
        top: 0;
        z-index: 4;
        box-shadow: inset #999AA0  0 0 0px 2px, #444 1px 0px;
    }
    
    .screws div:last-child {
        left: 70px;
    }
    
    .shadow {
        width: 700px;
        height: 1168px;
        background: black;
        position: absolute;
        top: 5px;
        left: 0;
        transform: translateZ(-17px);
        transform-style: preserve-3d;
        box-shadow: #000 0 0 10px 15px;
        opacity: 0.4;
        border-top-left-radius: 76px;
        border-top-right-radius: 200px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 56px;
    }
    
    .screen {
        width: 706px;
        height: 984px;
        position: absolute;
        top: 80px;
        left: 13px;
        font-weight: 300;
        color: #fff;
        background-size: 200% 100%;
        overflow: hidden;
        border: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(165deg, rgba(0,0,0,1), rgba(255,255,255, .2));
    }
    
    .bottom {
        width: 7px;
        height: 7px;
        border-radius: 5px;
        position: absolute;
        top: 573px;
        left: calc(50% - 3.5px);
    }
    .top {
        width: 37px;
        height: 7px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 149px;
    }
    
    .battery {
        position: absolute;
        top: 3px;
        right: 70px;
        font-size: 13px;
    }
    .battery > div:last-child {
        width: 27px;
        height: 9px;
        border: 1px solid #fff;
        position: absolute;
        top: 4px;
        left: 27px;
        border-radius: 2px;
    }
    .battery div div:first-child {
        width: 21px;
        height: 7px;
        background: #fff;
        position: absolute;
        top: 1px;
        left: 1px;
    }
    .battery div div:last-child {
        width: 1px;
        height: 6px;
        background: #FFF;
        position: absolute;
        left: 26px;
        border-radius: 0 1px 1px 0;
    }
    
    .circle {
        width: 50px;
        height: 50px;
        background: none;
        border-radius: 50%;
        box-shadow: rgba(255,255,255,0.1) 160px 335px,rgba(255,255,255,0.1) 120px 275px 0 12px,rgba(255,255,255,0.1) 60px 355px 0 23px,rgba(255,255,255,0.1) 230px 445px 0 -8px,rgba(255,255,255,0.1) 60px 125px,rgba(255,255,255,0.1) 260px 145px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 50px 155px,rgba(255,255,255,0.1) 150px 273px 0 -2px,rgba(255,255,255,0.1) 50px 555px 0 23px,rgba(255,255,255,0.1) 180px 5px 0 -8px;
        animation: circle 30s linear infinite alternate;
    }
}
  
  @keyframes circle {
    0%{
      box-shadow: rgba(255,255,255,0.1) 160px 335px,rgba(255,255,255,0.1) 120px 275px 0 12px,rgba(255,255,255,0.1) 60px 355px 0 23px,rgba(255,255,255,0.1) 230px 445px 0 -8px,rgba(255,255,255,0.1) 60px 125px,rgba(255,255,255,0.1) 260px 145px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 350px 555px,rgba(255,255,255,0.1) 350px 273px 0 -2px,rgba(255,255,255,0.1) 150px 355px 0 23px,rgba(255,255,255,0.1) 180px 205px 0 -8px,rgba(255,255,255,0.1) 0px 0px 0 -8px,rgba(255,255,255,0.1) 100px 555px 0 10px;
  }
    100%{
      box-shadow: rgba(255,255,255,0.1) 70px 10px,rgba(255,255,255,0.1) 300px 205px 0 12px,rgba(255,255,255,0.1) 0px 155px 0 23px,rgba(255,255,255,0.1) 330px 45px 0 -8px,rgba(255,255,255,0.1) 460px 325px,rgba(255,255,255,0.1) 0px 445px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 50px 155px,rgba(255,255,255,0.1) 150px 273px 0 -2px,rgba(255,255,255,0.1) 0px 555px 0 23px,rgba(255,255,255,0.1) 180px 5px 0 -8px,rgba(255,255,255,0.1) 300px 555px 0 -8px,rgba(255,255,255,0.1) 350px 355px 0 10px;
  }
}
  
  
  
  