@keyframes tabletRotateIn {
    0% {
        transform: rotateX(50deg) rotateZ(-46deg) translate3D(670px, 0, 50px);
    }

    100% {
        transform: rotateX(50deg) rotateZ(-56deg) translate3D(720px, 0, 50px);
    }
}

@keyframes tabletRotateOut {
    0% {
        transform: rotateX(50deg) rotateZ(-56deg) translate3D(720px, 0, 50px);
    }

    100% {
        transform: rotateX(50deg) rotateZ(-46deg) translate3D(670px, 0, 50px);
    }
}

#ipad-graphic {
    .device {
        &.rotateIn {
            animation: tabletRotateIn $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }

        &.rotateOut {
            animation: tabletRotateOut $animation-timing cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }

        &.interactive:not(.present):hover {
            transform: rotateX(50deg) rotateZ(-46deg) translate3d(670px, 0, 15px);

            .shadow {
                transition: all 300ms ease-in-out;
                transform: translateZ(-40px); 
                box-shadow: #000 0 0 40px 20px;
            }
        }
    }
}