.wrapper {
    height: 100%;
    position: relative;
    perspective: 6000px;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .3s all;
    z-index: 1;

    @media screen and (max-width:480px) {
        perspective: 3500px;
    }
}

.fadeOut {
    opacity: 0;
}

.safariZindexFix {
    @supports (-webkit-touch-callout: none) {
        transform: translateZ(200px);
        /* fix for iOS devices */ 
      }
    
}