
.cbody
{
  margin: auto;
  display: inline-block;
  height: 445px;
  width: 650px;
  text-align: center;
}
.cmain
{
  height: 390px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: black;
}
.ctop
{
  display: inline-block;
  width: 100%;
}

.ccontentwrap
{
  display: inline-block;
  margin-top: 30px;
  width: 590px;
  height: 325px;
  background-color: rgba(76, 76, 76, 0.42);
  text-align: center;
}

.ccontent
{
  width: 2560px;
  height: 1400px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transform: scale(.18);

}

.ccont
{
  height: 100%;
  width: 100%;
}

.cbottom
{
  height: 65px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(35deg, rgb(114, 114, 114), rgb(197, 197, 197), rgb(218, 218, 218));
  border-bottom: 1px solid rgb(92, 91, 91);

}

.cleg
{
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 75px;
  background: linear-gradient(0deg, rgb(114, 114, 114), rgb(255, 255, 255), rgb(197, 197, 197), rgb(114, 114, 114));
  -webkit-clip-path: polygon(7.5% 0%, 92.5% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(6% 0%, 94% 0%, 100% 100%, 0% 100%);
}



.cfoot
{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 30px;
  background: linear-gradient(0deg, rgb(197, 197, 197), rgb(197, 197, 197), rgb(114, 114, 114));
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 4px solid rgb(114, 114, 114);
}