
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/iphone-graphic/iphone-graphic.scss';
@import '../components//iphone-graphic/iphone-animation.scss';
@import '../components/ipad-graphic/ipad-graphic.scss';
@import './transitions.scss';
@import './colors.scss';
@import './utility.scss';

html {
    scroll-behavior: smooth;
}

code {
    background: #e8e8e8;
    font-size: 16px;
    padding: 2px 4px;
}

p {
    margin-bottom: 1rem;
    font-size: 18px;
    color: #555;
    max-width: 625px;
    line-height: 175%;
}

ul,ol {
    list-style: initial;
    margin-left: 1.25rem;
    font-size: 18px;
    color: #555;
    max-width: 625px;
    line-height: 175%;
}

li + li {
    margin-top: 1rem;
}

ul + p, ol + p {
    margin-top: 1rem;
}

.text-shadow1 {
    text-shadow: rgba(255,255,255,.2) 1px -1px 0px, rgba(255,255,255,.2) -1px -1px 1px, rgba(255,255,255,.2) -1px -1px 1px;
}

.text-shadow2 {
    text-shadow: rgba(255,255,255,.5) 1px 4px 8px;
}
