
.mod-underline {
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background-color: $color-primary;
        margin: 12px auto 0 auto;
    }

    &.secondary {
        &:after {
            background-color: $color-secondary;
        }
    }

    &.tertiary {
        &:after {
            background-color: $color-tertiary;
        }
    }
}

.mod-underline-left {
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 3px;
        background-color: $color-primary;
        margin: 12px 0 0 0;
    }

    &.secondary {
        &:after {
            background-color: $color-secondary;
        }
    }

    &.tertiary {
        &:after {
            background-color: $color-tertiary;
        }
    }
}
