
@import "../../styles/colors.scss";

.label{
    &:after {
        content: "";
        height: 29px;
        width: 4px;
        left: 0;
        top: 0;
        position: absolute;
        border-right: 1px solid $color-grey;
        background-color: $color-primary;
    }

    &.secondary:after {
        background-color: $color-secondary;
    }

    &.tertiary:after {
        background-color: $color-grey;
    }
}

