@import '../../styles/colors.scss';

.node {
    color: $color-grey;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #FFF;
        border: 1px solid #AAA; 
        border-radius: 50%;
        top: .75px;
        box-shadow: 0px 0px 0px 8px #FFF;
    }
}

.connector {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 24px;
        background-color: $color-primary;
    }

    &:last-of-type {
        &:before {
            background-color: transparent;
        }
    }
}

.nodeActive {
    margin-left: 4px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color-secondary;
    top: 4.75px;
    z-index: 2;
}