@import "../../styles/colors.scss";

$width: 20px;
$height: 20px;

.arrows {
    div {
        width: $width;
        height: $height;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    div:nth-child(2) {
        animation-delay: -0.2s;
    }

    div:nth-child(3) {
        animation-delay: -0.4s;
    }
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: translate(0px, -20px) rotate(45deg);
	}
	50%{
        border-bottom: 3px solid $color-primary;
        border-right: 3px solid $color-primary;
		opacity: 1;
	}
	100%{
        border-bottom: 4px solid $color-primary;
        border-right: 4px solid $color-primary;
		opacity: 0;
		transform: translate(0px, 20px) rotate(45deg);
	}
}